<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>

        <title>{% block title %}ssl.ipnoz.net{% endblock %}</title>

        <meta name="description" content=""/>
        <meta name="author" content="David Dadon - https://www.ipnoz.net"/>
        <meta name="keywords" content=""/>
        <meta name="copyright" content="none"/>
        <meta name="licence" content="MIT"/>
        <meta name="Language" content="fr"/>

        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon.ico') }}"/>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/vendor/bootstrap-4.4.1.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/vendor/fontawesome-free-5.12.1-web/css/all.css') }}" />
        {% endblock %}

    </head>
    <body>
        {% block body %}
            <main style="height: 90vh;">

                <header class="navbar navbar-expand flex-column flex-md-row">
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item">
                            <a href="{{ url('index') }}" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url('dashboard_emails', {'type': 'maildirs'}) }}" class="nav-link">Maildirs</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url('dashboard_emails', {'type': 'aliases'}) }}" class="nav-link">Aliases</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url('dashboard_emails') }}" class="nav-link">Filters</a>
                        </li>
                    </ul>
                </header>

                {% block content %}{% endblock %}
            </main>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
