{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">

        <div class="row align-content-center" style="height: 90vh;">

            <div class="container">

                <h3>Administration</h3>

                <ul>
                    <li>
                        <a href="{{ url('dashboard_emails') }}">Emails</a>
                    </li>

                    <hr>

                    <li>
                        <a href="backups/">Backups</a>
                    </li>
                    <li>
                        <a href="phpMyAdmin/">phpMyAdmin</a>
                    </li>
                    <li>
                        <a href="phpMumbleAdmin/">
                            phpMumbleAdmin (v 0.4.3)
                        </a>
                    </li>
                    <li>
                        <a href="http://192.168.0.2">
                            WIFI access point (routeur wifi)
                        </a>
                    </li>

                    <hr>

                    <li>
                        <a href="./phpinfo.php">PHPinfo()</a>
                    </li>
                    <li>
                        <a href="./server_info">/server_info</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}
