{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('js/vendor/DataTables/datatables.min.css') }}" />
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <h4 class="modal-header">{{ title }}</h4>
        <table class="dataTable table table-sm table-responsive table-bordered" style="height: 75vh;">
            <thead class="thead-dark">
                <tr>
                    <th>Email</th>
                    <th>Comment</th>
                    <th>Forward</th>
                    <th>Created</th>
                    <th>Enabled</th>
                </tr>
            </thead>
            <tbody>
            {% for email in list %}
                <tr>
                    <td>{{ email.email }}</td>
                    <td>{{ email.comment }}</td>
                    <td>{{ email.forward }}</td>
                    <td data-order="{{ email.createdAt }}">{{ email.createdAt|date('d-m-Y') }}</td>
                    <td data-order="{{ email.isEnabled }}">
                        <a class="toggle-email-state" href="{{ url('email_toggle_state', {'type': type, 'id': email.id}) }}">
                            <i></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/vendor/jQuery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('js/vendor/DataTables/datatables.min.js') }}"></script>
    <script src="{{ asset('js/customTable.js') }}"></script>
{% endblock %}
